
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="~/Content/403/style.css">
</head>
<body>
    <div class="container">
        <span class="text1">无权访问</span>
        <span class="text2">403</span>
        <span class="text3">欢迎来到小黑屋</span>
    </div>
</body>
</html>